In [9]:
import pandas as pd

When reading a .csv file, we can specify which column should correspond to the row index
With pandas, this does NOT have to be a unique value, but best practice is still to find unique indexes

In [10]:
sales = pd.read_csv('vgsales.csv', index_col = "Rank")

Can use .dtypes to return series of each column and corresponding data type

In [8]:
sales.dtypes

Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

We can use .head() to get a snapshot of the first few rows.  Default value is 5, but we can specify more rows by passing a parameter

In [11]:
sales.head()
sales.head(5)
sales.head(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

Inverse - previewing the last few rows as a "snapshot" of dataset

In [12]:
sales.tail()
sales.tail(5)
sales.tail(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
16591,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01
16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.0,0.01
16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01
16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.0,0.01
16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01

## SORTING VALUES

In [13]:
sales.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Can sort by a single column value, defaulting to an ascending order
To specify a different order, we can set ascending to False

In [16]:
sales.sort_values("Name")
sales.sort_values("Name", ascending = False)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
9137,¡Shin Chan Flipa en colores!,DS,2007.0,Platform,505 Games,0.00,0.00,0.14,0.00,0.14
471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
15526,uDraw Studio: Instant Artist,X360,2011.0,Misc,THQ,0.01,0.01,0.00,0.00,0.02
7837,uDraw Studio: Instant Artist,Wii,2011.0,Misc,THQ,0.08,0.09,0.00,0.02,0.19
628,uDraw Studio,Wii,2010.0,Misc,THQ,1.67,0.58,0.00,0.20,2.46
...,...,...,...,...,...,...,...,...,...,...
8306,.hack//G.U. Vol.3//Redemption,PS2,2007.0,Role-Playing,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17
8604,.hack//G.U. Vol.2//Reminisce (jp sales),PS2,2006.0,Role-Playing,Namco Bandai Games,0.00,0.00,0.16,0.00,0.16
7109,.hack//G.U. Vol.2//Reminisce,PS2,2006.0,Role-Playing,Namco Bandai Games,0.11,0.09,0.00,0.03,0.23
8359,.hack//G.U. Vol.1//Rebirth,PS2,2006.0,Role-Playing,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17
4756,'98 Koshien,PS,1998.0,Sports,Magical Company,0.15,0.10,0.12,0.03,0.41

Since the sort_values() method results in a dataframe, we can chain additional methods like .head() or .tail()

In [18]:
sales.sort_values("Platform").head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1768,Kaboom!,2600,1980.0,Misc,Activision,1.07,0.07,0.0,0.01,1.15
3942,River Raid II,2600,1988.0,Shooter,Activision,0.47,0.03,0.0,0.01,0.51
2408,Enduro,2600,1982.0,Misc,Quelle,0.81,0.05,0.0,0.01,0.87
240,Pitfall!,2600,1981.0,Platform,Activision,4.21,0.24,0.0,0.05,4.50
4380,Maze Craze: A Game of Cops 'n Robbers,2600,NaN,Action,Atari,0.42,0.02,0.0,0.00,0.45

## SORTING BY MULTIPLE COLUMNS

We can further specify columns to sort by by providing a list [] parameter.  Pandas will sort by first parameter, then within that sorting sort AGAIN by second parameter

To specify ascending/descending order, simply pass in second parameter.  NOTE: THIS APPLIES TO BOTH SORTING PARAMETERS!!

In [20]:
sales.sort_values(["Platform", "Global_Sales"])
sales.sort_values(["Platform", "Global_Sales"], ascending = False)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
102,Call of Duty: Black Ops 3,XOne,2015.0,Shooter,Activision,4.52,2.09,0.01,0.67,7.30
194,Call of Duty: Advanced Warfare,XOne,2014.0,Shooter,Activision,3.21,1.53,0.01,0.38,5.13
198,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.66,2.01,0.00,0.41,5.08
261,Halo 5: Guardians,XOne,2015.0,Shooter,Microsoft Game Studios,2.64,1.20,0.03,0.39,4.26
288,Fallout 4,XOne,2015.0,Role-Playing,Bethesda Softworks,2.45,1.26,0.01,0.37,4.09
...,...,...,...,...,...,...,...,...,...,...
8762,Home Run,2600,NaN,Sports,Atari,0.14,0.01,0.00,0.00,0.15
9108,Krull,2600,1982.0,Action,Atari,0.13,0.01,0.00,0.00,0.14
9497,RealSports Volleyball,2600,1981.0,Sports,Atari,0.12,0.01,0.00,0.00,0.13
11718,Super Football,2600,1987.0,Sports,Atari,0.07,0.00,0.00,0.00,0.08
11751,Super Baseball,2600,1987.0,Sports,Atari,0.07,0.00,0.00,0.00,0.07

## DIFFERENT SORT ORDERS FOR EACH SORT PARAMETER

By passing a list into the ASCENDING parameter, we can specify sort order for each specific sorting of data

Sorting Platform in ascending, Global Sales in descending:

In [21]:
sales.sort_values(["Platform", "Global_Sales"], ascending = [True, False])

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
90,Pac-Man,2600,1982.0,Puzzle,Atari,7.28,0.45,0.0,0.08,7.81
240,Pitfall!,2600,1981.0,Platform,Activision,4.21,0.24,0.0,0.05,4.50
259,Asteroids,2600,1980.0,Shooter,Atari,4.00,0.26,0.0,0.05,4.31
545,Missile Command,2600,1980.0,Shooter,Atari,2.56,0.17,0.0,0.03,2.76
608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.0,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...
16533,Sébastien Loeb Rally Evo,XOne,2016.0,Racing,Milestone S.r.l,0.00,0.01,0.0,0.00,0.01
16534,Hitman (2016),XOne,2016.0,Action,Square Enix,0.00,0.01,0.0,0.00,0.01
16565,Mighty No. 9,XOne,2016.0,Platform,Deep Silver,0.01,0.00,0.0,0.00,0.01
16572,Resident Evil 4 HD,XOne,2016.0,Shooter,Capcom,0.01,0.00,0.0,0.00,0.01
16579,Rugby Challenge 3,XOne,2016.0,Sports,Alternative Software,0.00,0.01,0.0,0.00,0.01

## MODIFYING THE ORIGINAL DATA STRUCTURE

By passing in the parameter inplace = True we modify original dataframe

In [26]:
sales.sort_values(["Platform", "Global_Sales"], ascending = [True, False], inplace = True)
sales

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
90,Pac-Man,2600,1982.0,Puzzle,Atari,7.28,0.45,0.0,0.08,7.81
240,Pitfall!,2600,1981.0,Platform,Activision,4.21,0.24,0.0,0.05,4.50
259,Asteroids,2600,1980.0,Shooter,Atari,4.00,0.26,0.0,0.05,4.31
545,Missile Command,2600,1980.0,Shooter,Atari,2.56,0.17,0.0,0.03,2.76
608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.0,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...
16533,Sébastien Loeb Rally Evo,XOne,2016.0,Racing,Milestone S.r.l,0.00,0.01,0.0,0.00,0.01
16534,Hitman (2016),XOne,2016.0,Action,Square Enix,0.00,0.01,0.0,0.00,0.01
16565,Mighty No. 9,XOne,2016.0,Platform,Deep Silver,0.01,0.00,0.0,0.00,0.01
16572,Resident Evil 4 HD,XOne,2016.0,Shooter,Capcom,0.01,0.00,0.0,0.00,0.01
16579,Rugby Challenge 3,XOne,2016.0,Sports,Alternative Software,0.00,0.01,0.0,0.00,0.01

## Sorting the Index

We originally had rank as index, but after sorting it is out of order!  The solution? sort_index()
Defaults to ascending = True, just like other sorting

To return to original shape, we can provide inplace = True

In [31]:
sales.sort_index(ascending = True, inplace = True)
sales

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## OPTIMIZATIONS

There are additional methods to provide useful info about our data set, and correct errors in our code

.info() will provide information about each column, it's data type, and how many non-null values are present
Converts numbers to float64 to account for null values

In [32]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16598 entries, 1 to 16600
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16598 non-null  object
 1   Platform      16598 non-null  object
 2   Year          16327 non-null  float64
 3   Genre         16598 non-null  object
 4   Publisher     16540 non-null  object
 5   NA_Sales      16598 non-null  float64
 6   EU_Sales      16598 non-null  float64
 7   JP_Sales      16598 non-null  float64
 8   Other_Sales   16598 non-null  float64
 9   Global_Sales  16598 non-null  float64
dtypes: float64(6), object(4)
memory usage: 1.4+ MB

Note that data set has some null values!  We would want to remove those values to correct inaccuracies in data, and to bring down size of data set

We can use .dropna() to remove those values

Has a parameter: subset that takes in a list.  Pass in all column values, Pandas will check for null values, and remove those rows

In [34]:
sales.dropna(subset = ["Year"])
sales.dropna(subset = ["Year"], inplace = True)
sales.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Now that null values are removed, we can convert float64 to integer values!

First, we will look at the series for Year

Then we will convert using .astype(int)

Once we check data is accurate, we can reassign that series with the converted output

In [38]:
sales["Year"].astype(int)
sales["Year"] = sales["Year"].astype(int)
sales.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

## Category

Useful when we may have multiple values in a column with only a small number values

Behind the scenes, will keep one copy of each unique values, and all others will reference that single unique value

The lower the number of unique values, the higher chance it's a good time to use a category

To find number of unique values, can use .nunique()

In [39]:
sales.nunique()

Name            11360
Platform           31
Year               39
Genre              12
Publisher         576
NA_Sales          408
EU_Sales          305
JP_Sales          244
Other_Sales       157
Global_Sales      621
dtype: int64

First, checking category of Platform

After confirming, we can again reassign the series Platform with the categorized version of that column

Lastly, we'll check .info() to see memory footprint decrease

In [43]:
sales["Platform"].astype("category")
sales["Platform"] = sales["Platform"].astype("category")

In [44]:
sales["Genre"].astype("category")
sales["Genre"] = sales["Genre"].astype("category")
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16327 entries, 1 to 16600
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16327 non-null  object
 1   Platform      16327 non-null  category
 2   Year          16327 non-null  int32
 3   Genre         16327 non-null  category
 4   Publisher     16291 non-null  object
 5   NA_Sales      16327 non-null  float64
 6   EU_Sales      16327 non-null  float64
 7   JP_Sales      16327 non-null  float64
 8   Other_Sales   16327 non-null  float64
 9   Global_Sales  16327 non-null  float64
dtypes: category(2), float64(5), int32(1), object(2)
memory usage: 1.1+ MB

## Selecting Columns

To select multiple columns, simply provide additional values in a nested list off of the dataframe

In [46]:
sales["Publisher"]
sales[["Publisher", "Name"]]

        Publisher                                              Name
Rank
1        Nintendo                                        Wii Sports
2        Nintendo                                 Super Mario Bros.
3        Nintendo                                    Mario Kart Wii
4        Nintendo                                 Wii Sports Resort
5        Nintendo                          Pokemon Red/Pokemon Blue
...           ...                                               ...
16596       Kemco                Woody Woodpecker in Crazy Castle 5
16597  Infogrames                     Men in Black II: Alien Escape
16598  Activision  SCORE International Baja 1000: The Official Game
16599    7G//AMES                                        Know How 2
16600     Wanadoo                                  Spirits & Spells

[16327 rows x 2 columns]

Let's say we'd like to shift our index from Rank to Name

To preserve Rank, can use method called .reset_index()

Then, can re-set index using set_index()

Used index_col for initial setting of index, similar output

In [48]:
sales.reset_index(inplace=True)
sales.set_index("Name", inplace = True)
sales.sort_index()
sales.sort_index(inplace=True)
sales.head()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
'98 Koshien,4756,PS,1998,Sports,Magical Company,0.15,0.10,0.12,0.03,0.41
.hack//G.U. Vol.1//Rebirth,8359,PS2,2006,Role-Playing,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17
.hack//G.U. Vol.2//Reminisce,7109,PS2,2006,Role-Playing,Namco Bandai Games,0.11,0.09,0.00,0.03,0.23
.hack//G.U. Vol.2//Reminisce (jp sales),8604,PS2,2006,Role-Playing,Namco Bandai Games,0.00,0.00,0.16,0.00,0.16
.hack//G.U. Vol.3//Redemption,8306,PS2,2007,Role-Playing,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17

## Value Count

Can use .value_counts() off of a column to return frequency of each value within column

Can pass in normalize = True to get percentage of overall dataset

Can then convert to a percentage by multiplying series by 100

In [49]:
sales["Genre"].value_counts()
sales["Genre"].value_counts(normalize=True)
sales["Genre"].value_counts(normalize=True) * 100

Action          19.924052
Sports          14.111594
Misc            10.473449
Role-Playing     9.009616
Shooter          7.852024
Adventure        7.815275
Racing           7.509034
Platform         5.365346
Simulation       5.212225
Fighting         5.120353
Strategy         4.109757
Puzzle           3.497274
Name: Genre, dtype: float64

## Selecting Rows

Can use either index label or position/index number to select a row

Will use .loc["VALUE"]

In [53]:
sales.loc["Wii Sports"]

Rank                   1
Platform             Wii
Year                2006
Genre             Sports
Publisher       Nintendo
NA_Sales           41.49
EU_Sales           29.02
JP_Sales            3.77
Other_Sales         8.46
Global_Sales       82.74
Name: Wii Sports, dtype: object

## Single Cell Value

By using .loc with TWO values in square brackets, will find cell value at intersection of that row and column

NOTE that this is a SINGLE list being passed into .loc

First parameter is row, second parameter is column

In [54]:
sales.loc["Wii Sports", "Platform"]

'Wii'

## Duplicate or Multiple Values

There may be multiple matches for our row search

In [55]:
sales.loc["Grand Theft Auto V"]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Grand Theft Auto V,1898,PC,2015,Action,Take-Two Interactive,0.36,0.64,0.00,0.08,1.08
Grand Theft Auto V,198,XOne,2014,Action,Take-Two Interactive,2.66,2.01,0.00,0.41,5.08
Grand Theft Auto V,17,PS3,2013,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
Grand Theft Auto V,45,PS4,2014,Action,Take-Two Interactive,3.80,5.81,0.36,2.02,11.98
Grand Theft Auto V,24,X360,2013,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38

Further querying for TWO different names, and TWO different column values from those rows

Will pass in a LIST of values for both row and column

In [57]:
sales.loc[["Wii Sports", "Grand Theft Auto V"], ["Platform", "Global_Sales"]]

                   Platform  Global_Sales
Name
Wii Sports              Wii         82.74
Grand Theft Auto V       PC          1.08
Grand Theft Auto V     XOne          5.08
Grand Theft Auto V      PS3         21.40
Grand Theft Auto V      PS4         11.98
Grand Theft Auto V     X360         16.38

## Filtering

We can filter our dataframe to return a more specific subset of that data, based on a condition

First, will target specific column, then compare to a specific value

This will return a boolean series - True means we've found a match!

Can then specify this query WITHIN a query of our original dataframe.  Pandas will only return and display True values

To shorten syntax, can assign our filter to a variable, and plug that into our dataframe

In [60]:
sales["Publisher"] == "Square Enix"
sales[sales["Publisher"] == "Square Enix"]

#Alternatively
square_enix = sales["Publisher"] == "Square Enix"
sales[square_enix]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Arkanoid DS,12430,DS,2007,Puzzle,Square Enix,0.06,0.00,0.00,0.00,0.06
Army Corps of Hell,10456,PSV,2011,Action,Square Enix,0.05,0.04,0.00,0.02,0.10
Blood of Bahamut,11003,DS,2009,Role-Playing,Square Enix,0.00,0.00,0.09,0.00,0.09
Bust-A-Move Universe,5717,3DS,2011,Puzzle,Square Enix,0.08,0.15,0.06,0.03,0.31
Chaos Rings III,12713,PSV,2014,Role-Playing,Square Enix,0.00,0.00,0.06,0.00,0.06
...,...,...,...,...,...,...,...,...,...,...
Tomb Raider (2013),895,X360,2013,Action,Square Enix,0.86,0.87,0.01,0.17,1.92
Tomb Raider (2013),3361,XOne,2014,Action,Square Enix,0.34,0.21,0.00,0.05,0.60
Valkyrie Profile 2: Silmeria,4177,PS2,2006,Role-Playing,Square Enix,0.04,0.03,0.39,0.01,0.47
Valkyrie Profile: Covenant of the Plume,4574,DS,2008,Role-Playing,Square Enix,0.23,0.02,0.16,0.02,0.42
Valkyrie Profile: Lenneth,5182,PSP,2006,Role-Playing,Square Enix,0.17,0.01,0.16,0.02,0.36

Expanding on this example, we can filter dataframe to just find games with Action genre

In [61]:
action_games = sales["Genre"] == "Action"
sales[action_games]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
.hack: Sekai no Mukou ni + Versus,14279,PS3,2012,Action,Namco Bandai Games,0.00,0.00,0.03,0.00,0.03
007: Quantum of Solace,1275,X360,2008,Action,Activision,0.82,0.52,0.01,0.14,1.49
007: Quantum of Solace,9320,DS,2008,Action,Activision,0.11,0.01,0.00,0.01,0.14
007: Quantum of Solace,4501,PS2,2008,Action,Activision,0.17,0.00,0.00,0.26,0.43
007: Quantum of Solace,3040,Wii,2008,Action,Activision,0.30,0.29,0.01,0.07,0.67
...,...,...,...,...,...,...,...,...,...,...
[Prototype],1505,X360,2009,Action,Activision,0.84,0.35,0.00,0.12,1.31
[Prototype],1604,PS3,2009,Action,Activision,0.65,0.41,0.00,0.19,1.24
inFAMOUS,488,PS3,2009,Action,Sony Computer Entertainment,1.76,0.69,0.12,0.37,2.94
inFAMOUS 2,941,PS3,2011,Action,Sony Computer Entertainment,1.05,0.49,0.08,0.23,1.85
inFAMOUS: Second Son,539,PS4,2014,Action,Sony Computer Entertainment,1.27,0.97,0.07,0.47,2.78

## AND Operator

Let's say we want to combine two filters

We can utilize an AND filter for this!

In Pandas, this is represented by &

Since the past two filters were saved in variables, we can use those variables in the comparison!

In [62]:
sales[square_enix & action_games]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Army Corps of Hell,10456,PSV,2011,Action,Square Enix,0.05,0.04,0.00,0.02,0.10
Dragon Quest Heroes II: Twin Kings and the Prophecy's End,6205,PS4,2016,Action,Square Enix,0.00,0.00,0.28,0.00,0.28
Dragon Quest Heroes II: Twin Kings and the Prophecy's End,9540,PS3,2016,Action,Square Enix,0.00,0.00,0.13,0.00,0.13
Dragon Quest Heroes II: Twin Kings and the Prophecy's End,7062,PSV,2016,Action,Square Enix,0.00,0.00,0.23,0.00,0.23
Dragon Quest Heroes: Rocket Slime,4397,DS,2005,Action,Square Enix,0.13,0.00,0.31,0.01,0.45
Dragon Quest Heroes: The World's Tree Woe and the Blight Below,2864,PS4,2015,Action,Square Enix,0.16,0.13,0.37,0.06,0.71
Dragon Quest Heroes: The World's Tree Woe and the Blight Below,4028,PS3,2015,Action,Square Enix,0.00,0.00,0.49,0.00,0.49
Final Fantasy Crystal Chronicles: The Crystal Bearers,4820,Wii,2009,Action,Square Enix,0.22,0.08,0.08,0.03,0.40
Final Fantasy XIV: Heavensward,9729,PS4,2015,Action,Square Enix,0.00,0.05,0.06,0.01,0.12
Final Fantasy XIV: Heavensward,15643,PC,2015,Action,Square Enix,0.01,0.01,0.00,0.00,0.02
Final Fantasy XIV: Heavensward,15271,PS3,2015,Action,Square Enix,0.01,0.00,0.01,0.00,0.02
Hitman (2016),13649,PS4,2016,Action,Square Enix,0.00,0.04,0.00,0.01,0.04
Hitman (2016),16534,XOne,2016,Action,Square Enix,0.00,0.01,0.00,0.00,0.01
Hitman: Absolution,747,PS3,2012,Action,Square Enix,0.59,1.07,0.07,0.45,2.19
Hitman: Absolution,999,X360,2012,Action,Square Enix,0.68,0.90,0.01,0.17,1.76
Hitman: Absolution,6709,PC,2012,Action,Square Enix,0.03,0.17,0.00,0.04,0.25
Hitman: HD Trilogy,7202,PS3,2013,Action,Square Enix,0.07,0.10,0.00,0.04,0.22
Hitman: HD Trilogy,8055,X360,2013,Action,Square Enix,0.07,0.09,0.00,0.02,0.18
Just Cause 2,978,PS3,2010,Action,Square Enix,0.45,0.94,0.06,0.33,1.78
Just Cause 2,1134,X360,2010,Action,Square Enix,0.59,0.85,0.02,0.17,1.62
Just Cause 2,9549,PC,2010,Action,Square Enix,0.00,0.10,0.00,0.03,0.13
Just Cause 3,2369,XOne,2015,Action,Square Enix,0.42,0.38,0.00,0.07,0.88
Just Cause 3,949,PS4,2015,Action,Square Enix,0.46,1.02,0.07,0.28,1.83
Just Cause 3,9138,PC,2015,Action,Square Enix,0.03,0.11,0.00,0.01,0.14
Kingdom Hearts 3D: Dream Drop Distance,1178,3DS,2012,Action,Square Enix,0.88,0.26,0.34,0.09,1.58
Kuroshitsuji: Phantom & Ghost,14061,DS,2009,Action,Square Enix,0.00,0.00,0.04,0.00,0.04
Lara Croft and the Temple of Osiris,11267,PS4,2014,Action,Square Enix,0.00,0.07,0.00,0.01,0.08
Lara Croft and the Temple of Osiris,15642,PC,2014,Action,Square Enix,0.00,0.02,0.00,0.00,0.02
Murdered: Soul Suspect,8574,XOne,2014,Action,Square Enix,0.08,0.07,0.00,0.01,0.16
Murdered: Soul Suspect,8767,PS3,2014,Action,Square Enix,0.05,0.06,0.02,0.02,0.15
Murdered: Soul Suspect,12690,PC,2014,Action,Square Enix,0.00,0.05,0.00,0.01,0.06
Murdered: Soul Suspect,5615,PS4,2014,Action,Square Enix,0.09,0.16,0.02,0.05,0.32
Murdered: Soul Suspect,10308,X360,2014,Action,Square Enix,0.06,0.04,0.00,0.01,0.11
Nanashi no Game Me,14578,DS,2009,Action,Square Enix,0.00,0.00,0.03,0.00,0.03
Sleeping Dogs,9678,PC,2012,Action,Square Enix,0.06,0.05,0.00,0.02,0.12
Sleeping Dogs,4517,PS4,2014,Action,Square Enix,0.16,0.20,0.00,0.07,0.43
Sleeping Dogs,7688,XOne,2014,Action,Square Enix,0.10,0.09,0.00,0.02,0.20
Sleeping Dogs,1950,PS3,2012,Action,Square Enix,0.31,0.50,0.05,0.19,1.06
Sleeping Dogs,2358,X360,2012,Action,Square Enix,0.38,0.41,0.01,0.08,0.88
Soul Eater: Monotone Princess,15767,Wii,2008,Action,Square Enix,0.00,0.00,0.02,0.00,0.02
The Legend of Kage 2,11681,DS,2008,Action,Square Enix,0.07,0.00,0.00,0.00,0.08
The Tomb Raider Trilogy,2197,PS3,2011,Action,Square Enix,0.27,0.50,0.00,0.17,0.94
Thief (2014),4311,XOne,2014,Action,Square Enix,0.26,0.15,0.00,0.04,0.45
Thief (2014),2454,PS4,2014,Action,Square Enix,0.28,0.37,0.03,0.16,0.84
Thief (2014),10226,PC,2014,Action,Square Enix,0.00,0.09,0.00,0.02,0.11
Thief (2014),4802,PS3,2014,Action,Square Enix,0.10,0.20,0.02,0.08,0.40
Thief (2014),5955,X360,2014,Action,Square Enix,0.14,0.13,0.00,0.03,0.30
Tomb Raider (2013),613,PS3,2013,Action,Square Enix,0.60,1.31,0.08,0.52,2.51
Tomb Raider (2013),1367,PS4,2014,Action,Square Enix,0.47,0.64,0.06,0.25,1.41
Tomb Raider (2013),895,X360,2013,Action,Square Enix,0.86,0.87,0.01,0.17,1.92
Tomb Raider (2013),3361,XOne,2014,Action,Square Enix,0.34,0.21,0.00,0.05,0.60

## OR operator

In Pandas, this is represented with |

In [63]:
sales[square_enix | action_games]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
.hack: Sekai no Mukou ni + Versus,14279,PS3,2012,Action,Namco Bandai Games,0.00,0.00,0.03,0.00,0.03
007: Quantum of Solace,1275,X360,2008,Action,Activision,0.82,0.52,0.01,0.14,1.49
007: Quantum of Solace,9320,DS,2008,Action,Activision,0.11,0.01,0.00,0.01,0.14
007: Quantum of Solace,4501,PS2,2008,Action,Activision,0.17,0.00,0.00,0.26,0.43
007: Quantum of Solace,3040,Wii,2008,Action,Activision,0.30,0.29,0.01,0.07,0.67
...,...,...,...,...,...,...,...,...,...,...
[Prototype],1505,X360,2009,Action,Activision,0.84,0.35,0.00,0.12,1.31
[Prototype],1604,PS3,2009,Action,Activision,0.65,0.41,0.00,0.19,1.24
inFAMOUS,488,PS3,2009,Action,Sony Computer Entertainment,1.76,0.69,0.12,0.37,2.94
inFAMOUS 2,941,PS3,2011,Action,Sony Computer Entertainment,1.05,0.49,0.08,0.23,1.85
inFAMOUS: Second Son,539,PS4,2014,Action,Sony Computer Entertainment,1.27,0.97,0.07,0.47,2.78

## Querying By Numeric Comparison

Can utilize < and > to filter based on numeric values in a column

Can also use this to check between a RANGE of values

In Pandas, we can utilize .between() method

.between() takes two parameters - min and max values

Will INCLUDE these values as well!

In [67]:
over_ten_mil = sales["Global_Sales"] > 10
sales[over_ten_mil]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Animal Crossing: Wild World,42,DS,2005,Simulation,Nintendo,2.55,3.52,5.33,0.88,12.27
Brain Age 2: More Training in Minutes a Day,28,DS,2005,Puzzle,Nintendo,3.44,5.36,5.32,1.18,15.30
Brain Age: Train Your Brain in Minutes a Day,20,DS,2005,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22
Call of Duty: Black Ops,41,PS3,2010,Shooter,Activision,5.98,4.44,0.48,1.83,12.73
Call of Duty: Black Ops,32,X360,2010,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
...,...,...,...,...,...,...,...,...,...,...
Wii Fit,14,Wii,2007,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
Wii Fit Plus,15,Wii,2009,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
Wii Play,8,Wii,2006,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
Wii Sports,1,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Wii Sports Resort,4,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00

In [69]:
nineties = sales["Year"].between(1991, 1999)
sales[nineties]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
'98 Koshien,4756,PS,1998,Sports,Magical Company,0.15,0.10,0.12,0.03,0.41
007: Tomorrow Never Dies,421,PS,1999,Shooter,Electronic Arts,1.72,1.33,0.00,0.16,3.21
1080°: TenEighty Snowboarding,839,N64,1998,Sports,Nintendo,1.25,0.61,0.13,0.05,2.03
2Xtreme,1384,PS,1996,Sports,Sony Computer Entertainment,1.15,0.20,0.00,0.05,1.40
3D Baseball,14219,PS,1996,Sports,BMG Interactive Entertainment,0.02,0.01,0.00,0.00,0.03
...,...,...,...,...,...,...,...,...,...,...
Zen-Nippon Pro Wrestling: Ouja no Kon,9700,PS,1999,Fighting,Human Entertainment,0.00,0.00,0.12,0.01,0.12
Zero Divide,12725,PS,1995,Fighting,Ocean,0.03,0.02,0.00,0.00,0.06
Zero4 Champ RR,5168,SNES,1994,Sports,Media Rings,0.00,0.00,0.36,0.00,0.36
Zero4 Champ RR-Z,10686,SNES,1995,Racing,Media Rings,0.00,0.00,0.10,0.00,0.10
Zoop,13272,PS,1995,Puzzle,MediaQuest,0.03,0.02,0.00,0.00,0.05

## AGGREGATE OPERATIONS

Finding averages, medians, modes, etc

.mean()
.mode()
.median()

.sum()
.max()
.min()

In [70]:
sales["Global_Sales"].mean()

0.540231518343868

In [71]:
sales["Global_Sales"].sum()

8820.36

In [72]:
sales["Global_Sales"].max()
sales["Global_Sales"].min()

0.01

## Group By

Say for example we want to find total global sales by each genre grouping

First, we can group columns by matching values, THEN sum each independently

Can utilize .groupby("Column_name")

Then, will sum that series, at the Global_Sales column

In [73]:
sales.groupby("Genre")
genre_group = sales.groupby("Genre")

In [75]:
genre_group["Global_Sales"].sum().sort_values(ascending=False)

Genre
Action          1722.88
Sports          1309.24
Shooter         1026.20
Role-Playing     923.84
Platform         829.15
Misc             797.62
Racing           726.77
Fighting         444.05
Simulation       390.16
Puzzle           242.22
Adventure        234.80
Strategy         173.43
Name: Global_Sales, dtype: float64

In [76]:
genre_group["Global_Sales"].mean()

Genre
Action          0.529628
Adventure       0.184013
Fighting        0.531160
Misc            0.466444
Platform        0.946518
Puzzle          0.424203
Racing          0.592798
Role-Playing    0.628035
Shooter         0.800468
Simulation      0.458472
Sports          0.568247
Strategy        0.258465
Name: Global_Sales, dtype: float64

## Melting

A different way for us to structure similar pieces of data

We can "group" similar columns together to get a more specific snapshot

The column headers of NA_SALES, EU_SALES, etc are essentially a grouping of region and sales

We can take this data and melt it into a "pivot table" using .melt()

Specify id_Vars for each column label you'd like to pull in

Specify value_vars for each column value you'd like to pull in (Will be parsed into separate row for each value)

Specify var_name for the column name corresponding to value_vars

Specify value_name for the column name corresponding to the VALUE from value_vars

In [78]:
sales.reset_index(inplace=True)

# Region Sales
# NA     .15
# EU     .10
# JP     .05

In [80]:
sales.melt(
    id_vars= ["Name", "Publisher"],
    value_vars = ["NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales"],
    var_name = "Region",
    value_name = "Sales"
    )

,Name,Publisher,Region,Sales
0,'98 Koshien,Magical Company,NA_Sales,0.15
1,.hack//G.U. Vol.1//Rebirth,Namco Bandai Games,NA_Sales,0.00
2,.hack//G.U. Vol.2//Reminisce,Namco Bandai Games,NA_Sales,0.11
3,.hack//G.U. Vol.2//Reminisce (jp sales),Namco Bandai Games,NA_Sales,0.00
4,.hack//G.U. Vol.3//Redemption,Namco Bandai Games,NA_Sales,0.00
...,...,...,...,...
65303,thinkSMART: Chess for Kids,Mentor Interactive,Other_Sales,0.00
65304,uDraw Studio,THQ,Other_Sales,0.20
65305,uDraw Studio: Instant Artist,THQ,Other_Sales,0.02
65306,uDraw Studio: Instant Artist,THQ,Other_Sales,0.00
65307,¡Shin Chan Flipa en colores!,505 Games,Other_Sales,0.00